doctype
html
  head
    title= title
    link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/lib/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet")
    link(href="/css/site.css", rel="stylesheet")
    block styles
  body
    block content
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/underscore/underscore.js")
    script(src="/lib/angular/angular.min.js")
    script(src="/lib/angular-bootstrap/ui-bootstrap.min.js")
    block scripts